.h2{
    font-size: 36px;
    color: rgba(117, 0, 0, 1);

}
.h4{
    color: rgba(117, 0, 0, 1);
  font-size: 24px;
    margin-bottom: 5px;
}
.p{
    color: rgba(83, 51, 51, 1);
    font-size: 24px;
    margin-bottom: 19px;
}
.h21{
    font-size: 24px;
    margin-bottom: 5px;
}
.span{
    font-size: 36px;
}