.container{
    width: 1200px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal{
    /*padding: 50px;*/
    background-color: rgba(0, 0, 0, 0.5);
    position:fixed;
    inset: 0;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 10;
}

.modal-content{
    background-color: #fefefe;
    width: 300px;
    padding: 20px;
    border-radius: 0 10px 10px 0;
    color:#750000;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
}

.modal.open{
    transform: translateX(0);
}


.close{
    display: flex;
}

.blacksi{
border:1px solid gray;
    border-radius: 20px;

}

.active{
    font-weight: 700;
    font-size: 24px;

}

.sport{
    font-weight: 400;
    font-size: 24px;
    color:#533333;
}

.rus{
    font-weight: 400;
    font-size: 36px;
    color:#000000
}











.icons{
    display: flex;
    gap: 20px;
    p{
        color: #750000;
        font-weight: 500;
        font-size: 24px;
    }
    img{
        width: 40px;
    }
}

.clothes{
    display: flex;
    gap:10px;
    color:#750000;
}

.text{
    color: #533333;
}

.cart-modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.cart-content {
    background: #fff;
    width: 400px;
    border-radius: 16px;
    padding: 20px;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close {
    cursor: pointer;
    font-size: 20px;
}

.cart-item {
    display: flex;
    gap: 12px;
    margin: 15px 0;
    padding: 10px;
    border-radius: 12px;
    background: #f5f5f5;
}

.cart-item img {
    width: 70px;
    border-radius: 10px;
}

.cart-info p {
    font-size: 14px;
    color: gray;
}

.cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.cart-footer button {
    background: #7b2d2d;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}









body {
    font-family: Arial, sans-serif;
    margin: 0;
}

/* HEADER */
.icons {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

/* OVERLAY */
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 9;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* CART */
.cart {
    position: fixed;
    top: 0;
    left: -420px;
    width: 400px;
    height: 100vh;
    background: #fff;
    padding: 20px;
    transition: 0.3s;
    z-index: 10;
    display: flex;
    flex-direction: column;
}



