.container{
    width: 1200px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal{
    /*padding: 50px;*/
    background-color: rgba(0, 0, 0, 0.5);
    position:fixed;
    inset: 0;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 10;
}

.modal-content{
    background-color: #fefefe;
    width: 300px;
    padding: 20px;
    border-radius: 0 10px 10px 0;
    color:#750000;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
}

.modal.open{
    transform: translateX(0);
}


.close{
    display: flex;
}

.blacksi{
    border:1px solid gray;
    border-radius: 20px;

}

.active{
    font-weight: 700;
    font-size: 24px;

}

.sport{
    font-weight: 400;
    font-size: 24px;
    color:#533333;
}

.rus{
    font-weight: 400;
    font-size: 36px;
    color:#000000
}

.icons{
    display: flex;
    gap: 20px;
    p{
        color: #750000;
        font-weight: 500;
        font-size: 24px;
    }
    img{
        width: 40px;
    }
}

.clothes{
    display: flex;
    gap:10px;
    color:#750000;
}

.text{
    color: #533333;
}


