
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.new-cllection{
    display: flex;
    border: 5px solid rgba(117, 0, 0, 1);
    border-radius: 63px;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
}

.l-block,
.c-block,
.r-block{
    width: 33%;
}

.r-block{
    flex-grow: 1;
}

.r-block img{
        width: 100%;
        height: 100%;
}

.l-block{
    background: rgba(255, 255, 255, 1);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(217, 217, 217, 1) 100%);
    color: #750000;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    h2{
        font-size: 54px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        padding: 10px;
        margin-top: -7px;
    }
}

.c-block{
    background: #750000;
    color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    h2{
        font-size: 54px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        padding: 10px;
    }
    p{
        margin-left: 100px;
        color: rgba(224, 190, 162, 1);
        text-decoration: none;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
        /*text-align: center;*/
    }
    .liner{
        width: 162px;
        height: 2px;
        background: rgba(224, 190, 162, 1);
        margin-left: 95px;
        margin-top: 10px;
    }
}